<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
                  rel="stylesheet">

            <!-- Css Styles -->
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css')}}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/flaticon.css')}}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/flaticon.css')}}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css')}}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/magnific-popup.css')}}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css')}}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/slicknav.min.css')}}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/style.css')}}" type="text/css">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.3.1.min.js')}}"></script>
            <script src="{{ asset('js/bootstrap.min.js')}}"></script>
            <script src="{{ asset('js/jquery.magnific-popup.min.js')}}"></script>
            <script src="{{ asset('js/masonry.pkgd.min.js')}}"></script>
            <script src="{{ asset('js/jquery-ui.min.js')}}"></script>
            <script src="{{ asset('js/jquery.nice-select.min.js')}}"></script>
            <script src="{{ asset('js/jquery.slicknav.js')}}"></script>
            <script src="{{ asset('js/owl.carousel.min.js')}}"></script>
            <script src="{{ asset('js/main.js')}}"></script>
        {% endblock %}
    </head>
    <body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__btn">
            <a href="#" class="primary-btn">Appointment</a>
        </div>
        <ul class="offcanvas__widget">
            <li><i class="fa fa-phone"></i> 1-677-124-44227</li>
            <li><i class="fa fa-map-marker"></i> Los Angeles Gournadi, 1230 Bariasl</li>
            <li><i class="fa fa-clock-o"></i> Mon to Sat 9:00am to 18:00pm</li>
        </ul>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <ul class="header__top__left">
                            <li><i class="fa fa-phone"></i> 1-677-124-44227</li>
                            <li><i class="fa fa-map-marker"></i> Los Angeles Gournadi, 1230 Bariasl</li>
                            <li><i class="fa fa-clock-o"></i> Mon to Sat 9:00am to 18:00pm</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <div class="header__top__right">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__menu__option">
                        <nav class="header__menu">
                            <ul>
                                <li><a href="./index.html">Home</a></li>
                                <li><a href="./about.html">About</a></li>
                                <li><a href="./services.html">Services</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="./pricing.html">Pricing</a></li>
                                        <li><a href="./doctor.html">Doctor</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="{{ path('blog') }}">News</a></li>
                                <li><a href="./contact.html">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="header__btn">
                            <a href="#" class="primary-btn">Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
